:root{
    --primary-color: black;
    --secondary-color: white;

    color: var(--secondary-color);

    font-family: Calibri, serif;
    font-size: 16px;
}

body, main{
    background-color: var(--primary-color, black);

    margin: 0;
    padding: 0;

    height: 100svh;
    width: 100svw;

    overflow: hidden;
}
main{
    background-image: url(https://images.unsplash.com/photo-1679240339099-1759c6576e96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=714&q=80);
    background-size: cover;

    background-position: center 80%;
    position: relative;

    z-index: 2;

    transition: transform 500ms ease-out;
}


#toggle{

    position: fixed;

    left: 50%;
    bottom: 3rem;

    height: 15svw;
    width: 15svw;

    max-height: 15svh;
    max-width: 15svh;

    margin: 0;
    padding: 0;

    border-radius: 50%;
    border: none;

    background-color: aquamarine;

    transition-duration: 300ms;
    transition-timing-function: ease;

    z-index: 3;

    transform: translateX(-50%);

}
nav{
    position: absolute;

    left: 0;
    bottom: 0;

    height: 50svh;
    width: 100%;

    z-index: 1;
}

#links{
    height: 100%;
    width: 100%;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: clamp(1rem, 2vw, 2rem);

    transform:  scale(0.9);
    transition: transform 500ms ease-out;
}

.item{
    height: 24vh;
    width: 28vw;

    background-size: cover;
}

.item:nth-child(1){
    background-image: url(https://images.unsplash.com/photo-1679341653239-3943bfe40a1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80);
}
.item:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1679504808271-237ad3ae0d7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=892&q=80);
}
.item:nth-child(3){
    background-image: url(https://images.unsplash.com/photo-1679347882414-c52d1df0b6c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}
.item:nth-child(4){
    background-image: url(https://images.unsplash.com/photo-1678889284769-b7dcbec1f082?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
}
.item:nth-child(5){
    background-image: url(https://images.unsplash.com/photo-1678889284805-5c86fb1dba5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
}

body[data-state="true"] > nav >#links{
    transform: translateY(-25%); scale(1);
}


#toggle:hover{
    transform: translateX(-50%) scale(1.04);
}

#toggle:active{
    transition-duration: 50ms;
    transform: translateX(-50%) scale(0.96);
}

body[data-state="true"] > main{
    transform: translateY(-50%);
}

@media  (max-width: 1000px) {
    .item{
        width: 20rem;
    }
    .item:nth-child(4){
        display: none;
    }
    .item:nth-child(5){
        display: none;
    }
}


#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 46vmin;
    object-fit: cover;
    object-position: 100% center;
}