:root{
    --primary-color: black;
    --secondary-color: white;

    color: var(--secondary-color);

    font-family: "Times new roman", serif;
    font-size: 16px;
}

body, main{
    background-color: var(--primary-color, black);

    margin: 0;
    padding: 0;

    height: 100svh;
    width: 100svw;

    overflow: hidden;
}
main{
    background-image: url(https://images.unsplash.com/photo-1519415943484-9fa1873496d4?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;

    background-position: center 80%;
    position: relative;

    z-index: 2;

    transition: transform 500ms ease-out;
}

h1{
    font-size: 6rem;
    color: black;
    padding-left: 2rem;
    padding-top: 3rem;
    margin: 0;
}

#sub{
    font-size: 3rem;
    color: darkgreen;
    padding-top: 0.5rem;
    padding-left: 3rem;

    margin: 0px;
}

p{
    font-size: 1.05rem;
    padding-top:18rem;
    padding-right : 70%;
    padding-left: 3rem;
    color: gray;
}

#toggle{

    position: fixed;
    font-family: "Times new roman", serif;

    left: 93%;
    bottom: 3rem;

    height: 15svw;
    width: 15svw;

    max-height: 15svh;
    max-width: 15svh;

    margin: 0;
    padding: 0;

    border-radius: 50%;
    border: none;

    background-color: white;
    border: 0.1rem dashed gray;

    transition-duration: 300ms;
    transition-timing-function: ease;

    z-index: 3;
    color:darkgreen;
    
    font-size:2rem;

    transform: translateX(-50%);

}
nav{
    position: absolute;

    left: 0;
    bottom: 0;

    height: 50svh;
    width: 100%;

    z-index: 1;
}

#links{
    height: 100%;
    width: 100%;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: clamp(1rem, 2vw, 2rem);

    transform:  scale(0.9);
    transition: transform 500ms ease-out;
}


body[data-state="true"] > nav >#links{
    transform: translateY(-25%); scale(1);
}


#toggle:hover{
    transform: translateX(-50%) scale(1.04);
}

#toggle:active{
    transition-duration: 50ms;
    transform: translateX(-50%) scale(0.96);
}

body[data-state="true"] > main{
    transform: translateY(-50%);
}

@media  (max-width: 1000px) {
    .item{
        width: 20rem;
    }
    .item:nth-child(4){
        display: none;
    }
    .item:nth-child(5){
        display: none;
    }
}


#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 46vmin;
    object-fit: cover;
    object-position: 100% center;
}